In [2]:
import pandas as pd
import numpy as np

In [27]:
sim_outputs = pd.read_csv("/Users/sara.hippmann/Downloads/PRICE-519 Field Goal Market Investigation - Sheet1.csv")
sim_outputs.drop(columns = ["Touchodwns Home", "Fields Home", "Touchdowns Away", "Fieldgoals Away"], inplace=True)

In [28]:
sim_outputs["HomeSplit"] = 0
sim_outputs["AwaySplit"] = 0
sim_outputs

,HomePoints,AwayPoints,HomeRushPlays,HomePassPlays,AwayRushPlays,AwayPassPlays,HomeSplit,AwaySplit
0,35,28,29,42,26,52,0,0
1,26,21,45,15,24,39,0,0
2,56,35,38,34,29,39,0,0
3,24,17,37,24,27,40,0,0
4,7,41,25,31,41,32,0,0
...,...,...,...,...,...,...,...,...
9995,17,51,38,36,33,30,0,0
9996,48,0,41,36,29,26,0,0
9997,18,28,36,49,33,26,0,0
9998,31,0,46,18,22,39,0,0
9999,10,17,26,38,30,31,0,0

In [5]:
def solve_equation(N):
    solutions = []
    for y in range(N // 7 + 1):
        if (N - 7*y) % 3 == 0:   # check divisibility
            x = (N - 7*y) // 3
            solutions.append((x, y))
    return solutions

In [31]:
sim_outputs["HomeSplit"] = sim_outputs["HomePoints"].apply(solve_equation)
sim_outputs["AwaySplit"] = sim_outputs["AwayPoints"].apply(solve_equation)

In [36]:
sim_outputs.to_csv("FG Split.csv")